
body{
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;

}

#wrap{
	text-align:center;
	
}

#mainHeader{

	background-color:black;
	color:white;
   font-size: 10px;
   line-height: 1.9em;
    overflow: hidden;
   
    text-align: right;
   

}

 ul{

padding:auto;
	list-style:none;
	 padding-right: 30px;


}

li{
	display: inline;
	padding-left: 4px;

}

 a{
	color: #fff;
	text-decoration: none;
}
#navpar{
		/*background-color:#cfb53b;*/

	background-color: #424;
	color: #fff;
	text-align: left;
    overflow: hidden;
 padding-left: 30px;
}

#navpar ul{
	padding:auto;
	list-style:none;
	
}

#navpar li{
	display: inline;
	padding-right: 30px;

}

#navpar a{
	color: #fff;
	text-decoration: none;
}


#shopping-cart {
	margin: 40px;
}



#shopping-cart table {
	width: 100%;
	background-color: #F0F0F0;
}

#shopping-cart table td {
	background-color: #FFFFFF;
}

.txt-heading {
	color: #211a1a;
	border-bottom: 1px solid #E0E0E0;
	overflow: auto;
}

#btnEmpty {
	background-color: #ffffff;
	border: #d00000 1px solid;
	padding: 5px 10px;
	color: #d00000;
	float: right;
	text-decoration: none;
	border-radius: 3px;
	margin: 10px 0px;
}

.btnAddAction {
    padding: 5px 10px;
    margin-left: 5px;
    background-color: #efefef;
    border: #E0E0E0 1px solid;
    color: #211a1a;
    float: right;
    text-decoration: none;
    border-radius: 3px;
    cursor: pointer;
}

#product-grid .txt-heading {
	margin-bottom: 20px;
}

.product-item {
	float: left;
	background: #ffffff;
	margin: 0px 0px 0px 0px;
}

.product-image {
	height: 250px;
	width: 250px;
	background-color: #FFF;
}

.clear-float {
	clear: both;
}

.demo-input-box {
	border-radius: 2px;
	border: #CCC 1px solid;
	padding: 2px 1px;
}

.tbl-cart {
	font-size: 0.9em;
}

.tbl-cart th {
	font-weight: normal;
}



.product-price {
	float:left;
}

.cart-action {
	float: right;
}

.product-quantity {
    padding: 5px 10px;
    border-radius: 3px;
    border: #E0E0E0 1px solid;
    vertical-align:middle
}

.product-tile-footer {
    padding: 15px 15px 0px 15px;
    overflow: auto;
}

.cart-item-image {
	width: 30px;
    height: 30px;
    border-radius: 50%;
    border: #E0E0E0 1px solid;
    padding: 5px;
    vertical-align: middle;
    margin-right: 15px;
}
.no-records {
	text-align: center;
	clear: both;
	margin: 38px 0px;
}






div.gallery {
    margin: 50px;
    float: left;
    width:300px;
    padding-top:100px;


   
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;


}

div.desc {
    padding: 15px;
    text-align: center;
     color:#880e4f;
    font-size: 17px;
}

.button {
  display: inline-block;
  background-color:#880e4f ;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  width: 140px;
  transition: all 0.5s;
  vertical-align:middle
  cursor: pointer;
  margin: 5px;}

.bo1{
	background-color: #eee;
	border: 3px #bdbdbd solid;
	padding-left: 40px;
	padding-top: 40px;
	


}
footer{
 	background-color: #000;
 	color: #fff;
 	text-align: center; 
    line-height: 70px;
    clear:both;
	width:100%;
	margin:auto;

 }